<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
						
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
						<li><a href="/about">SEO vs SEM</a></li>
					<li><a href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a href="/about3">URL</a></li>
					<li><a href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a class ="active" href="/about8">Black Hat SEO Incident</a></li>
				
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>Recent news related to BLACK HAT SEO incident. </h2>
				       <div class="questions">
							<h4>1.BMW - Year 2006</h4>
	        				<p>In 2006, Google found out that BMW were using doorway pages stuffed with keywords to funnel down users to their German website bmw.de. This was blatant and outright Black-Hat SEO, therefore BMW got the most severe punishment possible - they got completely removed from Google index.
Their excuse 
BMW responded that, oh well, "if Google says all doorway pages are illegal, we have to take this into consideration". Anyhow, BMW did remove the doorway pages and was re-included into Google index shortly after that.
Lesson learned 
No matter how big a company you are, using doorway pages to attract visitors to your site is a bad idea. Moreover, if you hire an SEO service to do SEO for your company, make sure you know what they are doing.</p>
	        		   </div><br>
			        		   <div class="questions">
									<h4>2.Newsday – Year 2007</h4>
			        				<p>In 2007, NewsDay.Com, a popular Long Island (New York) edition, got a slap on the hand from Google for not using a nofollow attribute on the so-called "Featured Links" that were sitting on their home page. These links lead to certain websites, quite unrelated to the niche, for example, a site that sold Mets tickets, a Personal Injury Law Firm website, etc. This resulted in Newsday.Com's dramatic drop from PR8 to PR5. Thus, News Day became the only newspaper in the Tribune group with a PR5 site, as opposed to other Tribune papers with PR8 websites.
Their excuse 
According to Brent D. Payne, the SEO manager who joined Tribune in February 2008 to deal with the consequences of the penalty, "the offending links were removed in 2007". Yet it took Google several months to lift the penalty completely. And it was not until Brent posted on Google Webmaster Forums that Newsday.Com’s PageRank went back to normal. Brent D. Payne also stated that: 
"the people that are responsible for the offending code are no longer with Tribune and I have made it very clear that this cannot and will not happen again".
Lesson learned
It's OK to put links to related sites. It’s OK to sell links to unrelated sites (just the way you sell regular ads), as long as they are accompanied by a nofollow attribute. Quite simple rules, yet some are reluctant to follow them.</p>
			        			</div>				    
				   </div><br>
				   	<div class="questions">
						<h4>3.Forbes – Years 2011</h4>
	        			<p>In February 2011, another uber-popular edition, the Forbes magazine, was caught red-handed while selling links on their own website. Unlike in the case of News Day, Google did send Forbes a notification email calling on the magazine to "look for possibly artificial or unnatural links on your site pointing to other sites that could be intended to manipulate PageRank". BTW, this was not the first time Forbes got in trouble with Google for illegitimate link sales. Back in 2007, quite a big number of websites experienced a sudden PR drop, allegedly for selling/buying links on their sites. Back then, Barry Schwartz, Rand Fishkin, Loren Baker and other influential bloggers managed to reassure the Web marketing community that the move was just Google's "public relations stunt", aimed at scaring everyone who attempted to buy/sell links.
Their excuse 
When accused of selling links again in 2011, Forbes reacted in a curious way. They first removed some of the paid links, while leaving a couple of links still in place. Then, Denis Pinsky, the Digital Marketing Manager at Forbes.com, wrote on Google Webmaster Forum "Can someone help figure out what Links are in violation?", meaning he had no idea what Google was talking about. And he received an answer from none other than Matt Cutts of Google himself. In his reply, Matt Cutts pointed out the webpages that still contained paid links. Bingo. By the way, the pages that the Google evangelist mentioned are now simply gone. But this was not the whole story. Besides the Google Webmaster Forum discussion, Forbes was also trying to whitewash themselves by claiming that the links in question had miraculously gone live after a site redesign.
Lesson learned 
In order not to make a fool of yourself and your company, when caught selling links on your site, admit to it. Especially if you are Forbes. Then, remove the links and file a reconsideration request.
</p>
	       			 </div>
	       			 
	       			 
				</div>
				
		  					<br><br>

<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->
				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
