<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
						
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
						<li><a href="/about">SEO vs SEM</a></li>
					<li><a href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a class ="active" href="/about3">URL</a></li>
					<li><a href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a href="/about8">Black Hat SEO Incident</a></li>
			
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>URL Canonicalization</h2>
				       <div class="questions">
							<h4>1.In your own words, how important is URL Canonicalization?</h4>
	        				<p>Canonicalization is the process of choosing the best URL, typically for home pages, when there are several choices available. URL’s come in a variety of forms, each with the potential of leading to the same place but each providing technical differences and reducing the amount of duplicate content.</p>
	        		   </div>
	        		   
	        		   
	        		  <br>
			        		   <div class="questions">
									<h4>2.Briefly discuss HTTP Status Codes.</h4>
			        				<p>1xx INFORMATIONAL RESPONSES : An informational response indicates that the request was received and understood. It is issued on a provisional basis while request processing continues. It alerts the client to wait for a final response. The message consists only of the status line and optional header fields, and is terminated by an empty line.<br>
2xx SUCCESS : This class of status codes indicates the action requested by the client was received, understood, accepted, and processed successfully. <br>
200 OK : Standard response for successful HTTP requests. The actual response will depend on the request method used. In a GET request, the response will contain an entity corresponding to the requested resource. In a POST request, the response will contain an entity describing or containing the result of the action. <br>
3xx REDIRECTION : This class of status code indicates the client must take additional action to complete the request. Many of these status codes are used in URL redirection. A user agent may carry out the additional action with no user interaction only if the method used in the second request is GET or HEAD. A user agent may automatically redirect a request. A user agent should detect and intervene to prevent cyclical redirects. <br>
4xx CLIENT ERRORS : A 404 error on Wikipedia. This class of status code is intended for situations in which the client seems to have errored. Except when responding to a HEAD request, the server should include an entity containing an explanation of the error situation, and whether it is a temporary or permanent condition. These status codes are applicable to any request method. User agents should display any included entity to the user. <br>
5xx SERVER ERROR : The server failed to fulfill an apparently valid request.[56] Response status codes beginning with the digit "5" indicate cases in which the server is aware that it has encountered an error or is otherwise incapable of performing the request. Except when responding to a HEAD request, the server should include an entity containing an explanation of the error situation, and indicate whether it is a temporary or permanent condition. Likewise, user agents should display any included entity to the user. These response codes are applicable to any request method.</p>
			        			</div>				    
				   </div><br>
				   	<div class="questions">
						<h4>3.Briefly discuss On-page SEO's important HTML elements.</h4>
	        			<p>TITLE TAG : A title tag is an HTML element that specifies the title of a web page. Title tags are displayed on search engine results pages (SERPs) as the clickable headline for a given result, and are important for usability, SEO, and social sharing. Title tags are a major factor in helping search engines understand what your page is about, and they are the first impression many people have of your page. Title tags are used in three key places: (1) search engine results pages (SERPs), (2) web browsers, and (3) social networks. <br>
META DESCRIPTION TAG : Meta descriptions are HTML attributes that provide concise summaries of webpages. They commonly appear underneath the blue clickable links in a search engine results page (SERP).Meta description tags, while not tied to search engine rankings, are extremely important in gaining user click-through from SERPs. These short paragraphs are a webmaster's opportunity to "advertise" content to searchers, and searchers' chance to decide whether the content is relevant and contains the information they're seeking from their search query. <br>
IMAGE : Be careful in choosing an image on your page, because your image also explain what is your page all about.If you put image just for design you're doing it the wrong way. The img tag is used to display an image on your page. It has attributes to tell the browser where to find your file 'src' means source and points to the source of the image.If you use correct descriptions for your images with your targeted keywords, the general SEO scores for the Web page as a whole will be higher. <br>
TEXT LINK : We often talk about why we want them and how to get them, but today I'd like to go back to basics and look at the constituent parts of the HTML code behind them. This is definitely a post for the new SEO, or web-developer looking to expand their experience, but even experienced search marketers may want to comment the nuances of some parts of the humble anchor tag's attributes. <br>
NOFOLLOWED LINK : "Nofollow" provides a way for webmasters to tell search engines "Don't follow links on this page" or "Don't follow this specific link." Originally, the nofollow attribute appeared in the page-level meta tag, and instructed search engines not to follow (i.e., crawl) any outgoing links on the page. Before nofollow was used on individual links, preventing robots from following individual links on a page required a great deal of effort. That's why the nofollow attribute value of the rel attribute was created. This gives webmasters more granular control: instead of telling search engines and bots not to follow any links on the page, it lets you easily instruct robots not to crawl a specific link. <br>
IMAGE LINK : ALT tag is a little text that appears when a cursor hovers over an image. It resides within the image’s HTML code and is used to describe the image to users. But it also sends Google a relevancy signal. And thus, including the keyword in ALT tag is said to help improve your page’s optimization. Most CMS systems do automatically add ALT tag to images. In most cases you may have to download dedicated plugins to facilitate use of this feature.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>4.In your own words, what are SEO's hyperlinking best practices?</h4>
	        			<p>Internal Links are hyperlinks that point at (target) the same domain as the domain that the link exists on (source). In layman's terms, an internal link is one that points to another page on the same website. It provides your audience with further reading options. For example, if you are writing about a new product or service from Twitter, and we’ve written a great post on Twitter in the past, link to it. It provides context for the reader and promotes older content. It helps to improve your ranking for certain keywords.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>5.Briefly discuss backlinking.</h4>
	        			<p>A “backlink” is one of the most used words in the world of search engine optimization (SEO). Backlinks are incoming links to a webpage. When a webpage links to any other page, it’s called a backlink.</p>
	       			 </div>
				</div>
				
					<br><br>

<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->

				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
