<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
					
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
						<li><a class ="active" href="/about">SEO vs SEM</a></li>
					<li><a href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a href="/about3">URL</a></li>
					<li><a href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a href="/about8">Black Hat SEO Incident</a></li>
				
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>Difference between SEO and SEM</h2>
				       <div class="questions">
							<h4>1.What is the difference between SEO and SEM?</h4>
	        				<p>SEO is about optimizing your website to get better rankings in the search results while SEM is a marketing process through buying an advertisement space and get traffic free in front of the searches.</p>
	        		   </div>
	        		      <br>
			        		   <div class="questions">
									<h4>2.Briefly discuss the following SEO Strategies listed:</h4>
			        				<p>DOMAIN NAME STRATEGY: It proactively protect the brand online by reducing the chance for others to use the brand name in their online activities. <br>
LINKING STRATEGY: Links aren't everything in SEO, but search professionals attribute a large portion of the engines' algorithms to link-related factors. Through links, engines can not only analyze the popularity websites and pages based on the number and popularity of pages linking to them, but also metrics like trust, spam, and authority. <br>
KEYWORD STRATEGY: This strategy is essential in developing winning search engine marketing campaigns. Keyword strategy should have selecting high-performing keywords that drive relevant traffic to the business. <br>
TITLE TAGS STRATEGY: Title tags are part of the meta tags that appear at the top of HTML inside the < head> area. Think of title tags like the title of the chapter of a book. It tells people and search engines what your page is about. <br>
META DESCRIPTION TAGS STRATEGY: Meta descriptions are HTML attributes that provide concise summaries of webpages. They commonly appear underneath the blue clickable links in a search engine results page (SERP). <br>
ALT TAGS STRATEGY: An alt tag, also known as "alt attribute" and "alt description," is an HTML attribute applied to image tags to provide a text alternative for search engines. Applying images to alt tags such as product photos can positively impact an ecommerce store's search engine rankings. Search engines and other robots cannot interpret images, but images can play a crucial part in how people interpret a particular web page. <br>
SEARCH ENGINE INDEXING STRATEGY: Search engine indexing is the process of a search engine collecting, parses and stores data for use by the search engine. It is the search engine index that provides the results for search queries, and pages that are stored within the search engine index that appear on the search engine results page.</p>
			        			</div>				    
				   </div>
				      <br>
				   	<div class="questions">
						<h4>3.Is it possible to combine strategies? If yes, which strategies woulld you like to implement? Why?</h4>
	        			<p>Yes, Domain name strategy and Keyword strategy may be possible. Using domain name strategy makes the brand unique because no one can reuse their name and keyword strategy makes the name easier to search and user can easily remember.</p>
	       			 </div>
	       			 
	       			 
				</div>
				
		  					<br><br>



<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->
				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
