<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
						
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
					<li><a href="/about">SEO vs SEM</a></li>
					<li><a class ="active" href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a href="/about3">URL</a></li>
					<li><a href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a href="/about8">Black Hat SEO Incident</a></li>
				
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>Difference between ON-PAGE SEO and OFF PAGE SEO</h2>
				       <div class="questions">
							<h4>1.In your own words, what is the difference between ON-PAGE SEO and OFF PAGE SEO?</h4>
	        				<p>On-page SEO is the practice of optimizing individual web pages in order to rank higher and earn more relevant traffic in search engines. On-page refers to both the content and HTML source code of a page that can be optimized while Off-page SEO refers to links and other external signals or techniques that can be used to improve the position of a website in the search engine results page.</p>
	        		   </div>
	        		      <br>
			        		   <div class="questions">
									<h4>2.Briefly discuss the following SEO guides for ON-PAGE technique</h4>
			        				<p>PAGE TITLES: age Titles: Your page titles are one of the most important SEO factors on your site. Each of your pages & posts should have its own unique title, which includes the main keywords for that page. <br>
META DESCRIPTIONS: Many people forget to include meta descriptions for their pages. These descriptions are an important place to include relevant keywords for your content, as these are used within the search results when your page is listed. <br>
META TAGS: For each of your pages, you can include a set of keywords in the form of meta tags. These should be all the relevant keywords of your content, which you will have researched previously. <br>
URL STRUCTURE: Including search engine friendly URLs for each of pages is highly recommended, as these bring better crawling. Shorter URLs seem to perform better in search engine results.
BODY TAGS (H1, H2, H3, H4, etc.): When writing articles, it should break up the content into smaller sections & paragraphs to make it easier for people to read. <br>
KEYWORD DENSITY: Including relevant keywords throughout the content is very important, as it helps search engines work out what the content is about. <br>
IMAGE SEO: On-Page SEO using images within the content is a great way to make the site more visually appealing and break up boring chunks of text. <br>
INTERNAL LINKING: People often think that the only links that count are those from other websites. While these links are important, these are not the only important links. 
</p>
			        			</div>				    
				   </div>
				      <br>
				   	<div class="questions">
						<h4>3.Briefly discuss the following SEO guides for OFF-PAGE technique.</h4>
	        			<p>SOCIAL MEDIA ENGAGEMENT: A major Off-page SEO technique is social media engagement. Social media presence will help grow your business and also help you get more back links. <br>
SOCIAL BOOKMARKING: Sites Social bookmarking sites are one of the best platforms, when you bookmark your webpage or blog post on popular social bookmarking websites, you gain high traffic to your webpage or blog.  <br>
FORUM SUBMISSION: Participate in search forums which are related to your website and business and make a connection with that community.
BLOG DIRECTORY: Submission Directory Submission is constantly working to build quality back links. Choose an effective directory and select a proper category.  <br>
ARTICLE SUBMISSION: Submit your articles in a high PR article submission directory. You can also give links to your website. Make sure your content is unique and of high quality.  <br>
QUESTION AND ANSWER: One of the best ways you can get high traffic is from question and answer websites. Join high PR question and answer sites and search for questions related to your business, blog or website.  <br>
VIDEO SUBMISSION: If you want to make your videos popular, head to popular video submission sites. Give a proper title, description, tags and reference links.  <br>
IMAGE SUBMISSION: Share your photos on popular image submission websites. Before submitting your images, check if they have a proper title, description and tags.  <br>
INFOGRAPHICS SUBMISSION: Make creative infographics. These days, infographics are getting popular on the internet. Submit your infographics on infographics submission websites and give reference links to your webpage or blog.  <br>
DOCUMENT SHARING: Create attractive documents relating to your business or blog. The documents should have unique content and should be in either pdf or ppt formats.
</p>
	       			 </div>
	       			
	       			 
				</div>
				
		 			<br><br>

<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->
				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
