<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
						
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
					<li><a href="/about">SEO vs SEM</a></li>
					<li><a href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a href="/about3">URL</a></li>
					<li><a class ="active" href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a href="/about8">Black Hat SEO Incident</a></li>
			
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>Components of a Successful Blog Post</h2>
				       <div class="questions">
							<h4>1.FOCUS</h4>
	        				<p>You can’t just ramble on aimlessly and expect people to follow your train of thought. Good blog posts are focused and straight to the point. They present a solid idea, supporting evidence and finish with a powerful conclusion that sums it all up. To maintain focus throughout the piece, you may want to create an outline prior to getting started with writing.</p>
	        		   </div><br>
			        		   <div class="questions">
									<h4>2.UNIQUE PERSPECTIVE</h4>
			        				<p>Why should people read your blog post about a certain topic rather than somebody else’s? The answer is simple – you have something unique to offer. Even if you are discussing a common topic, you should have something different. Maybe you’ll support the unpopular opinion. Maybe you’ll look at an issue from a different perspective. Or eventually, you’ll talk to an expert about the topic to gain better insight. Whichever approach you choose, make sure that your content is different from all of the other texts about the very same topic.</p>
			        			</div>				    
				   </div><br>
				   	<div class="questions">
						<h4>3.A CATCHY TITLE</h4>
	        			<p>Today’s audience has a short attention span. It will give you just a few seconds to grab its interest. The only way to accomplish the goal involves writing a catchy headline. If you promise people something interesting, entertaining or useful, they’ll be willing to give your content a try. A little bit of humor sprinkled through the title isn’t going to hurt either.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>4.GRABBING OPENING</h4>
	        			<p>The opening paragraph continues what the title is supposed to start. This paragraph tells people why they should continue reading. It gives them a reason to get better acquainted with your blog post. Writers that are incapable of “selling” their blog posts in the very first sentence will suffer from a very high bounce rate. You can open up with an anecdote, a personal story or even a shocking comment that will be explored in detail through the blog posts. This is your hook and it gets the audience engaged. The opening paragraph and the title are the two components of your blog posts you should be spending the most time on.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>5.VISUALS</h4>
	        			<p>Visual information is processed much faster by the brain than text. This is why many people decide whether they want to read a blog post on the basis of the illustrations that come with it. Always accompany your texts with nice visuals. Images, infographics, diagrams and charts will all get the job done. Making your own infographics is far from a challenging task – there are dozens of free online tools you can use for the purpose.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>6.BULLET POINTS</h4>
	        			<p>Before reading the entire thing and getting committed, people will scan through it. If they like the information, they’ll dedicate more time to reading the blog posts. Use numbered lists and bullet points throughout the text. They give it a clear structure and make it easy to scan. Adding subtitles to blog posts will also be beneficial for the same reason.</p>
	       			 </div><br>
	       			  <div class="questions">
						<h4>7.PERSONAL EXPERIENCE</h4>
	        			<p>If you have personal experience about the topic, you should definitely share it. Your account is the one characteristic that will make the text unique and readable. People want to relate to you and learn more about the author. Refrain from sticking solely to facts and sterile information. Make it messier by injecting a bit of emotion inside. Your audience will appreciate the reveal.</p>
	       			 </div><br>
	       			  <div class="questions">
						<h4>8.INTERNAL AND EXTERNAL LINKS</h4>
	        			<p>When writing blog posts, you should also think about search engine optimization (SEO). One of the easiest options for increasing the quality of your texts is the use of relevant internal and external links. These paint a road map for search engines. In addition, they give your audience an opportunity to find out more about the topic. Remember that when it comes to links, quality is much more important than quantity.</p><br>
	        			 <div class="questions">
						<h4>9.CALL TO ACTION</h4>
	        			<p>Do you want the audience to undertake a certain course of action after reading your blog post? Do you want people to comment? Subscribe to your newsletter? Download an ebook? Let them know in the closing of your blog post. A call to action in the end tells the audience what you’d like them to do. It also outlines the benefits of undertaking the respective action. Don’t be shy to finish all of the relevant blog posts with a call to action. It’s one of the best opportunities for boosting the engagement of your audience.</p>
	       			 </div>
				</div>
				
		  					<br><br>


<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->
				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
