<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SEO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li class="#"><a href="#">Home</a></li> |
						<li><a href="#">Contact Us</a></li> 
					
					</ul>
				</div>
				<div class="top-header-right">
					<p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>
					<p><span>0999-999-999</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
</div>
<div class="header-bottom">
	<div class="wrap">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt=""/></a>
			</div>
			<ul class="follow_icon">
					<li><a href="#" style="opacity: 1;"><img src="images/facebook.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/google.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/twitter.png" alt=""/></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/feed.png" alt=""/></a></li>
			</ul>
			<div class="clear"> </div>
			<div class="menu">
				<ul class="nav">
					<li  class="test"><a href="/">SEO</a></li>
					<li><a href="/about">SEO vs SEM</a></li>
					<li><a href="/about2">ON-PAGE SEO vs OFF PAGE SEO</a></li>
					<li><a href="/about3">URL</a></li>
					<li><a href="/about4">Blog Post</a></li>
					<li><a href="/about5">Articles</a></li>
					<li><a class ="active" href="/about6">SEO Contents</a></li>
					<li><a href="/about7">SEO Techniques</a></li>
					<li><a href="/about8">Black Hat SEO Incident</a></li>
			
				</ul>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner-content">
	<div class="wrap">
	  <div class="banner">
		<div class="about">
			
				       <div class="faqs">
				       <h2>SEO Contents</h2>
				       <div class="questions">
							<h4>1.Internet Ethics</h4>
	        				<p>Internet ethics means an acceptable behaviour for using internet. We should be honest, respect the rights and property of others on the internet.</p>
	        		   </div><br>
			        		   <div class="questions">
									<h4>2.Acceptance</h4>
			        				<p>World Wide Web is not a waste wild web. It's place where values are considered in a broadest sense. We must take care while shaping content and services and we should recognize that internet is not apart from universal society but it is a primary component of it.</p>
			        			</div>				    
				   </div><br>
				   	<div class="questions">
						<h4>3.Sensitivity to National and Local cultures</h4>
	        			<p>It belongs to all and there is no barrier of national and local cultures. It cannot be subject to one set of values like local TV channel, a local newspaper and we have to accommodate multiplicity of usage.</p>
	       			 </div><br>
	       			 	<div class="questions">
						<h4>4.While using e-Mail and chatting</h4>
	        			<p>Internet must be used for communication with family and friends. We should not use the internet chatting for communicating with strangers and should not forward the e-mails from strangers. And we must teach children on risks involved by chatting or forwarding e-mails to strangers.</p>
	       			 </div><br>
	       			 	<div class="questions">
						<h4>5.Pretending someone else</h4>
	        			<p>We must not use the internet to pretend as someone else and fool others. We must teach children that fooling others and hiding your own identity is a crime.</p>
	       			 </div><br>
	       			 	 	<div class="questions">
						<h4>6.Avoid Bad language</h4>
	        			<p>We must not use rude or bad language while using e-Mail, chatting, blogging and social networking, we need to respect their views and should not criticize anyone on the internet and the same should be taught to children.</p>
	       			 </div><br>
	       			 
	       			 	 	<div class="questions">
						<h4>7.Hide personal information</h4>
	        			<p>We should teach children not to give personal details like home address, phone numbers, interests, passwords to anyone. No photographs should be sent to strangers and they taught to hide personal details from strangers because it might be misused and shared with others without their knowledge.</p>
	       			 </div><br>
	       			 <div class="questions">
						<h4>8.While Downloading


</h4>
	        			<p>Internet is used to learn about music, video and games by listening to it, and learning how to play games. We must not use it for downloading them or share the copyrighted material. The same should be taught to children, and they must be aware about the importance of copyrights and issues of copyright.</p>
	       			 </div><br>
	       			 
	       			      			 <div class="questions">
						<h4>9.Supervision


</h4>
	        			<p>You should know what children are doing on the internet and the sites they visit on the internet and should check with whom they are communicating. Look-over their shoulder and restrict them browsing inappropriate sites. Parental involvement while a child is using the internet and helps the child to follow computer ethics.</p>
	       			 </div><br>
	       			 
	       			 
	       			      			 <div class="questions">
						<h4>10.Encourage children to use Internet


</h4>
	        			<p>We must encourage children, students and others to gain the knowledge from the internet and use it wisely. Internet is a great tool where one can gather information which can be used for learning.</p>
	       			 </div>
				</div>
				
		  						<br><br>

<!-- Begin Comments JavaScript Code -->
 <script type="text/javascript" async>function ajaxpath_59b17c67590b2(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59b17c67590b2"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59b17c67590b2=document.createElement('script');fcs_59b17c67590b2.type="text/javascript";fcs_59b17c67590b2.src=ajaxpath_59b17c67590b2((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59b17c67590b2&s=#!59b17c67590b2");setTimeout("document.getElementById('fcs_div_59b17c67590b2').appendChild(fcs_59b17c67590b2)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box"></a></div></noscript><!-- End Comments JavaScript Code -->

		<!-- Scripts -->
				  <div class="clear"></div>
		    </div>
	</div>
  </div>
</div>	
<div class="footer">
   	  <div class="wrap">
   	    <div class="footer_grides">
   	    	<div class="footer_grid1">
					<div class="grid-bot">
						
						<div class="clear"></div>
					</div>
					<div class="footer-nav">
						
		              </div>
			</div>
				<div class="footer_grid2">
					<div class="grid-bot">
							
							<div class="grid1-l-desc">
							
							</div>
							<div class="clear"></div>
				    </div>	
				    <div class="footer-desc">
						
					</div>	  
			     </div>
				<div class="footer_grid3">
					
				   </div>				
		  <div class="footer_grid4">
			
		 </div>
	   <div class="clear"></div>
     </div>
    </div>
  </div>		
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
	
		</div>
 	</div>
 </div>
</body>
</html>
